.character {
  padding: 0;
  margin: 20px 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-shadow: 0px 5px 1px -1px rgba(218, 206, 206, 0.726),
    0px 1px 1px 0px rgba(255, 255, 255, 0.74),
    0px 1px 3px 0px rgba(143, 58, 58, 0.12);
  .avatar {
    width: 100%;
    height: 100%;
    max-width: 250px;
    max-height: 250px;
    border-radius: 4px 0 0 4px;
  }
  mat-card-content {
    margin: 10px;
    width: 300px;
  }
  mat-card-subtitle {
    text-transform: Capitalize;
  }
  img {
    object-fit: cover;
    overflow: hidden;
  }
  .episodes {
    max-width: 200px;
  }
  span {
    font-weight: 500;
    color: black;
  }
}

@media screen and (max-width: 700px) {
  .character {
    padding: 0 0 20px;
    flex-direction: column;
    max-width: 350px;
    .avatar {
      margin-bottom: 15px;
      border-radius: 4px 4px 0 0;
      max-width: none;
      max-height: none;
    }
    mat-card-content {
      max-width: 300px;
      width: 100%;
      margin: 0 10px;
    }
  }
}

.back {
  background-color: #ffffff8a;
  font-size: 16px;
}
