<mat-card *ngIf="character" class="character">
  <img
    class="avatar"
    mat-card-sm-image
    [src]="character.image"
    [alt]="character.name"
  />
  <mat-card-content>
    <h2 [title]="character.name">{{ character.name }}</h2>

    <mat-card-subtitle
      ><span>Gender:</span> {{ character.gender }}</mat-card-subtitle
    >
    <mat-card-subtitle
      ><span>Status:</span> {{ character.status }}</mat-card-subtitle
    >
    <mat-card-subtitle class="episodes"
      ><span>Episodes:</span>
      {{ character.episode | episodes }}</mat-card-subtitle
    >
  </mat-card-content>
</mat-card>
