:host {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
}

.card {
  width: 100%;
  min-width: 570px;
  mat-card-header {
    margin: 0 0 20px;
    font-weight: 600;
    ::ng-deep .mat-card-header-text {
      margin: 0;
    }
    button {
      font-weight: 600;
    }
  }
}

app-character-card {
  width: 100%;
}

@media screen and (max-width: 700px) {
  .card {
    max-width: 350px;
    min-width: 200px;
  }
}
